# Compiled class files
*.class
workspace.xml
target/*

# User-specific stuff
.idea/*
roborally/src/main/java/dk/dtu/compute/se/pisd/designpatterns/observer/package.html
roborally/src/main/java/dk/dtu/compute/se/pisd/overview.html
roborally/roborally.iml
.DS_Store
/roborally/target/
roborally/roborally.iml~
/roborally/src/main/resources/savegames/
/RoborallyAPI/RoborallyAPI.iml
/RoborallyAPI/target/classes/application.properties
